<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TelaDoc Test Automation Suite">

<!-- 	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>
 -->

	<test name="TelaDoc Challenge Test Cases">
		<classes>
			
			<class name="com.teladoc.qa.testcases.UserTest"></class>
		</classes>
	</test>
</suite>